ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
  }
  
  li {
    display: table;
    border-radius: 2px;
    background: white;
    width: 100px;
    height: 100px;
    margin: 10px;
  }


  li.item > span {
    vertical-align: middle;
    display: table-cell;
    font-size: 370%;
    color: darkgrey;
  }