.sorting-option {
    margin: 0 10px;
}

body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    color: white;
}

ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

li {
    display: table;
    border-radius: 2px;
    background: white;
    width: 100px;
    height: 100px;
    margin: 10px;
}


li.item > span {
    vertical-align: middle;
    display: table-cell;
    font-size: 370%;
    color: darkgrey;
}

.counter {
    height: 20px;
    width: 20px;
    font-size: 13px;
    color: darkgrey;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}